:root{
    --primary-color: black;
}


body{
    margin:0;
    box-sizing: border-box;
}


html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%; 
}

.navbar{
    display: flex;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    
    
}

.nav-items{
    list-style: none;
    color: white;
    padding: 0.5rem;
    
   
}


.button{
   border: 2px solid white;
   border-radius: 0.5rem;
   background-color: var(--primary-color);
   color:white;
   /* padding: 8px; */
   
  
   
     
}
.container{
    display: flex;
    background-color: var(--primary-color);
    width:100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
  

}

.image1{ 
    background-color: var(--primary-color);   
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 65px;
    justify-content: center;
}

.para{
    color: gray;
    flex-direction: column;
    align-items: center;
}

.section2{
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    padding-bottom: 2rem;
    gap: 20px;
    align-items: center;
}

.image2{
    margin-left: 20px;
    height: auto;
    width: 40%;
}

.text-container { 
    flex-direction: column; 
    
}



.text-container h2 {
    font-size: 18px; 
    color: blue;
    margin-top: -0.5rem; 
}

.text-container p{
    color: gray;
    font-size: 25px;
}

.text-container h2,
.text-container h1{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.image3{
    padding: 0.5rem;
    width: 7%;
    height: 50px;
    
}

.image-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.image-logo{
    display: flex;
    flex-direction: column;
}

h4{    
    margin-top: 0.5rem;      
}

.image-logo h4, 
.image-logo .para2 {
    margin: 0; 
}

.para2{  
    color: gray;  
    font-size: 18px !important;
    justify-content: center;
    margin-top: 0px; 
    width: 80%;
  
}

.card-container {
    display: flex;
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    gap: 2px; 
    overflow-x: auto; 
    width: 100%; 
    max-width: 100vw;
    padding: 1rem;
}


.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 60%; 
    min-width: 250px; 
    box-sizing: border-box;
    
}

.ghostImage1{
    width: 100%;  
    border-radius: 1rem;
    padding-bottom: 0.5rem;
    
}


.ghostText-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
  
}



.ghostText-container h2 {  
    font-size: 1.2rem;  
    color: blue; 
}

.ghostText-container h1 {
    font-size: 20px; 
}



.ghostText-container h2,
.ghostText-container h1{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    
}

.ghostText-container p {  
    font-size: 1rem;    
}


.ghostText-container para2 {
    color: gray;
    font-size: 18px !important;  
    margin-top: 5px;
}

.ghostImage-container{
    display: flex;
    flex-direction: row; 
    border-radius: 10px;
    overflow: hidden;
     
}

.ghostImage{
    padding: 0.5rem;
    width: 13%;
    height: 50px;
    
}

.lastSection{
    display: flex;
    flex-wrap: nowrap; 
    justify-content: space-between; 
    align-items: center;
    gap: 1px; 
    overflow-x: auto; 
    width: 100%; 
    max-width: 100vw;
    padding: 2rem;
    margin-right: 2rem;
    
   
}


.ghostCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    width: 100%; 
    gap: 10px;
    box-sizing: border-box;
    
}


.ghostImageSection{
    width: 100%;  
    border-radius: 1rem;
    padding-bottom: 0.5rem;
}












